body{
	background-color: #333;
	color: white;
}
h1{
	margin: 40px;
}
.board{
	margin: auto;
	padding: 5px;
	width: 402px;
	border: 1px solid #777;
	background-color: #222;
}
.cell{
	width: 120px;
	height: 120px;
	margin: 5px;
	background-color: #555;
	float: left;
}